/* The line height is 1.5*font-size of paragraph = 1.5*14pt = 21pt. So every vertically-spaced object must take up a multiple of 21pt.*/
:root {
	--base-font-size: 12pt;
	--base-line-height: calc( 1.6 * var(--base-font-size));
}

body {
	font-family: "Helvetica";
	font-size: var(--base-font-size);
	color: #333;
	max-width: calc(33 * var(--base-font-size));
	line-height: var(--base-line-height);
	margin: auto;
	padding-top: var(--base-line-height);
	padding-bottom: var(--base-line-height);
	padding-left: 10pt;
	padding-right: 10pt;
	background: #f9fbff;
	/*
	background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.3) 1px, transparent 1px);
	background-size: 100% var(--base-line-height);
	*/
}

p {
	/*font-family: "Times New Roman", "Times", serif;*/
	word-spacing: 0.15em;
	line-height: var(--base-line-height);		/* keep line-height, margin-top, and margin-bottom the same */
	margin-top: var(--base-line-height);
	margin-bottom: var(--base-line-height);
}

h1 {
	font-size: calc( 1.6 * var(--base-font-size));
	line-height: calc( 1 * var(--base-line-height));
	margin-top: calc( 2 * var(--base-line-height));
	margin-bottom: calc( 1 * var(--base-line-height));
}

h2 {
	font-size: calc( 1.4 * var(--base-font-size));
	line-height: calc( 1 * var(--base-line-height));
	margin-top: calc( 2 * var(--base-line-height));
	margin-bottom: calc( 1 * var(--base-line-height));
}

h1 + h2 {
	margin-top: calc( 2 * var(--base-font-size) - var(--base-line-height));
}

a, a:visited {
	text-decoration: none;
	/*color: cyan;*/
}

ul {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

li {
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
}


img {
	display: block;
	max-width: 100%;
	max-height: calc( 10 * var(--base-line-height));
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--base-line-height);
	margin-bottom: var(--base-line-height);
	border-radius: 10pt;
}

/* HEADER AND NAV */

#header-img {
	width: 35em;
	height: 20em;
	object-fit: cover;
}

nav {
	border-bottom: 1px solid black;
	text-align: center;
}

nav::after {
	content: "";
	display: block;
	clear: both;
}

nav .site-title {
	margin: 0; 
	padding: 0;
	font-weight: bold;
	font-size: calc( 2 * var(--base-font-size));
	line-height: var(--base-line-height);
}

nav ul {
	margin-top: var(--base-line-height);
	margin-bottom: var(--base-line-height);
	margin-left: 0;
	margin-right: 0;
	padding: 0pt 0pt;
}

nav li {
	display: inline;
	margin-right: 1em;
	list-style: none;
}

.thispage { font-weight: bold; }

nav a {
	text-decoration: none;
	color: #44f;
	white-space: nowrap;
}

